@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
.style {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
.container {
  align-items: center;
  background-color: rgb(0, 0, 0, 0.75);
  border: white 2px solid;
  display: flex;
  flex-direction: column;
  height: 95vh;
  justify-content: center;
  text-align: center;
  width: 98vw;
}
.login-conatiner {
  animation: gradient 7s ease infinite;
  background: linear-gradient(135deg, #2d20a9, #362071, #6b4075, #ac6ca1);
  background-size: 400% 400%;
  border: white 2px solid;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.login-textBox {
  color: black;
  font-size: 20px;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
.loginBtn-style {
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
}

.login-margin {
  margin: 5px 0;
}

.loginBtn-size {
  padding: 5px;
  font-size: 18px;
}
/* Dont have a account div */
#dhaA {
  color: black;
  font-size: 16px;
}

::placeholder {
  color: black;
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: black;
}
