.solve {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}
.rule-input-solve {
  color: white;
  font-size: 1.5em;
  margin: 0.25rem;
  padding: 0.25rem;
}
#input-solve-container,
#input-solve-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#solveBtn {
  width: 5rem;
  border-radius: 1rem;
  padding: 0.25rem;
  margin: 0.5rem;
}
