.solve {
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.85);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rule-input-solve {
  color: #f8f9fa;
  border-bottom: #1ea57a solid 2px;
  font-size: 1.5em;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

#solveInput {
  font-family: "Poppins", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1.5em;
  width: 20vw;
  height: 4vh;
  margin-bottom: 0.5rem;
}
#solveHeader {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#solve-title {
  color: #f8f9fa;
  font-size: 3em;
  margin: auto;
  -webkit-text-stroke: 2px black;
}
#spacer-rightsides {
  width: 80vw;
  z-index: 2;
}

#input-solve-container,
#input-solve-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#solveBtn {
  width: 15rem;
  border-radius: 3px;
  padding: 0.25rem;
  margin: 0.5rem;
  background-color: #1ea57a;
  color: #f8f9fa;
  -webkit-text-stroke: 2px black;
}
#solveBtn-keyboard {
  width: 25vw;
  height: 5vh;
  border-radius: 3px;
  margin-top: 1rem;
  background-color: #f8f9fa;
  border: 2px solid black;
  color: black;
  font-size: 1.5em;
}
#solve-msg {
  color: #f8f9fa;
  -webkit-text-stroke: 2px black;
  font-size: 3em;
  max-height: 5rem;
  height: 2rem;
  padding: 2rem;
  margin: 3rem;
}
