.keys {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.2rem;
  border: 2px solid black;
  border-radius: 3px;
}

#keyboard-container {
  display: flex;
  justify-content: center;
}
.vowel {
  background-color: coral;
}
