@font-face {
  font-family: "wheeloffortune";
  src: url(./Components/Logos/SF\ Fortune\ Wheel.ttf);
}

body {
  font-family: "wheeloffortune", sans-serif;
  background: linear-gradient(0deg, #5fd0e7, #90e0ef, #ade8f4, #caf0f8);
  background-size: 200% 200%;
  animation: gradient 7s ease infinite;
  max-height: 100vh;
  max-width: 100vw;
}
* {
  font-family: "wheeloffortune", sans-serif;
  letter-spacing: 0.08rem;
  cursor: pointer;
}

.header {
  background: linear-gradient(180deg, #245235, #1ea57a);
  border-bottom: black 2px solid;
  height: 10vh;
  max-height: 10vh;
  width: 100%;
}

.gameboard-container {
  max-width: 100vw;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinwheel-container {
  width: 100%;
  height: 50vh;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
}
#right-div-spin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#keyboard-container {
  width: 100%;
  height: 40vh;
}
/* #solveBtn-div {
  height: 10vh;
} */
/* used on setting.js */
.column {
  display: flex;
  flex-direction: column;
}
.page {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  max-height: 100vh;
}

#message {
  margin: auto;
  margin-bottom: 0.5rem;
  font-size: 2em;
  height: 5vh;
}

/* Ipad Pro */
@media screen and (max-width: 1366px) {
  #title {
    font-size: 2.75em;
    width: 80vw;
    justify-content: center;
  }
  .setting-page {
    margin-top: 20vh;
  }
  #setting-icon {
    align-items: center;
    width: 3.5vw;
    height: 6vh;
  }
  .spinBtn {
    font-size: 2em;
    margin-top: 1vh;
  }
  #solveBtn-keyboard {
    height: 5vh;
    margin-top: 1vh;
    font-size: 1.25em;
  }
  #message {
    font-size: 1.75em;
  }
  #lastKeyboard {
    margin-bottom: 1vh;
  }
  #messageHolder {
    height: 6vh;
  }
  .displayNone {
    height: 8vh;
    width: 5vw;
    margin: 0 1.5vh;
  }
  .keysBtn {
    height: 8vh;
    width: 5vw;
    margin: 0 1.5vh;
  }
  #keyboard-solve-bank {
    margin-right: 1vh;
  }

  /* Bank Css */
  #right-div-spin {
    max-width: 15vw;
    width: 15vw;
    margin-right: 1vw;
  }
  #dollarSign {
    font-size: 2.5em;
  }
  .bank {
    font-size: 2em;
  }
  #bank-container {
    height: 12vh;
    width: 15vw;

    margin: 1vw 1vw;
  }
  .bank-padding {
    padding: 0.4vh;
  }
}
