#bank-container {
  background: linear-gradient(360deg, #ff7b00, #ffa200, #ffb700, #ffdd00);
  border: 0.2rem solid black;
  -webkit-text-stroke: 2px black;

  justify-content: center;
  margin: 1rem;
  width: 15rem;
  height: 10vh;
  max-height: 13vh;
  z-index: 1;
  color: white;
}

#username {
  background-color: #ff7b00;
  border: 2px solid black;
  margin: 0.2rem;
  padding: 0.2rem;
  font-size: 1.25em;
}
.bank {
  display: flex;
  align-items: center;
  font-size: 2.5em;
}

.bank-padding {
  padding: 0.5vw;
}

#dollarSign {
  font-size: 3em;
  font-weight: 600;
  color: black;
  -webkit-text-stroke: 0.5px white;
}

.flex-bank {
  display: flex;
  justify-content: space-between;
}
