#rules-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  background: linear-gradient(0deg, #6c757d, #adb5bd, #ced4da, #dee2e6);
}
.center-column {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.GR {
  font-size: 2.25em;
  color: #f8f9fa;
  text-decoration: #000000 underline 4px;
  -webkit-text-stroke: 2px black;
}
#htp {
  margin-top: 2rem;
}
ul {
  margin: 1rem 0;
}
li {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
  margin: 0.75rem 0;
}
